{:paths ["src"]
 :deps  {org.clojure/clojure          {:mvn/version "1.11.1"}
         thheller/shadow-cljs         {:mvn/version "2.17.0"}
         reagent/reagent              {:mvn/version "1.1.1"}
         re-frame/re-frame            {:mvn/version "1.2.0"}
         metosin/reitit-frontend      {:mvn/version "0.7.0-alpha5"}
         metosin/reitit-spec          {:mvn/version "0.7.0-alpha5"}
         testdouble/clojurescript.csv {:mvn/version "0.8.0"}}}
