{:linters {:unresolved-namespace {:exclude [
                                            jim
                                            garage
                                            nosey-lib
                                            ]}
           :unresolved-var       {:exclude [
                                            ]}
           :unresolved-symbol    {:exclude [
                                            account
                                            account?
                                            address?
                                            deploy
                                            lookup
                                            car
                                            actor?
                                            width
                                            *address*
                                            call
                                            eek 
                                            *registry*
                                            eval-as
                                            stash
                                            dyna-lib
                                            transfer
                                            *balance*
                                            register
                                            create-account
                                            ]}
           }}


